services:
  database:
    container_name: database
    image: mysql:5.7
    networks:
      - books-net
    volumes:
      - mysql-volume:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=Momina123456
      - MYSQL_DATABASE=bookstore_db
      - MYSQL_USER=clarusway
      - MYSQL_PASSWORD=Momina_1

  books-con:
    container_name: app-con
    image: bookstore
    networks:
      - books-net
    ports:
      - 80:80
    restart: always

networks:
  books-net:
volumes:
  mysql-volume: